{#
UI Element template
type: framed_text_ui_element
element fields:
    - content
    - background
#}
{% set isDark = element.background == constant('MonsieurBiz\\SyliusUiElementsPlugin\\Form\\Type\\UiElement\\FramedTextUiElementType::BACKGROUND_DARK') %}
<div class="ui segment {% if isDark %} inverted{% endif %}" style="padding: 30px">
    {{ element.content|default('')|raw }}
</div>
<div class="ui divider hidden"></div>
