{#
UI Element template
type: hero_ui_element
element fields:
    - title
    - description
#}

<div>
    {% if element.title|default('') is not empty %}
        <div class="ui huge header">{{ element.title|raw }}</div>
    {% endif %}
    {% if element.description|default('') is not empty %}
        <div>{{ element.description }}</div>
    {% endif %}
</div>

