{#
UI Element template
type: figures_ui_element
element fields:
    - figures
        - figure
        - description
#}

{% set columns = 'five' %}
{% if element.figures|length == 4 %}
    {% set columns = 'four' %}
{% endif %}
{% if element.figures|length == 3 %}
    {% set columns = 'three' %}
{% endif %}
{% if element.figures|length == 2 %}
    {% set columns = 'two' %}
{% endif %}
{% if element.figures|length == 1 %}
    {% set columns = 'one' %}
{% endif %}

<div class="ui grid stackable {{ columns }} columns" style="padding: 0 3vw;">
    {% for keyFigure in element.figures|default([]) %}
        <div class="column">
            <div class="ui segment">
                <strong>{{ keyFigure.figure }}</strong>
                {% if keyFigure.description|default('') is not empty %}
                    <p>{{ keyFigure.description }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
<div class="ui divider hidden"></div>
