{#
UI Element template
type: key_facts_ui_element
element fields:
    - key_facts
        - title
        - description
#}

{% set columns = 'five' %}
{% if element.key_facts|length == 4 %}
    {% set columns = 'four' %}
{% endif %}
{% if element.key_facts|length == 3 %}
    {% set columns = 'three' %}
{% endif %}
{% if element.key_facts|length == 2 %}
    {% set columns = 'two' %}
{% endif %}
{% if element.key_facts|length == 1 %}
    {% set columns = 'one' %}
{% endif %}

<div class="ui grid stackable {{ columns }} columns" style="padding: 0 3vw;">
    {% for keyFact in element.key_facts|default([]) %}
        <div class="column">
            <div class="ui segment">
                <strong>{{ keyFact.title }}</strong>
                {% if keyFact.description|default('') is not empty %}
                    <p>{{ keyFact.description }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
<div class="ui divider hidden"></div>
